.product-image{
    width: 100px;
}

.bg-red{
    background: linear-gradient(to right, rgb(238, 16, 16), rgb(7, 7, 172)); 
    color: #fff;
    font-weight: 700;
}

.bg-f2f2f2{
    background-color: #b8b0b0;
}

.section{
    margin-top: 48px;
    margin-bottom: 48px;
}